.action-button__button  {
    padding: 16px;

    width: 100%;

    display: flex;
    justify-content: center;
    align-items: center;

    font-family: 'IBM Plex Sans', sans-serif;
    font-size: 16px;

    color: var(--accentBlue);
    background: var(--white);
    border: 1px solid var(--accentBlue);
    border-radius: 6px;

    cursor: pointer;
    outline: none;
}

.action-button__button:active {
    filter: brightness(0.98);
}
